body {
    background: linear-gradient(rgb(0 0 0 / 20%), rgb(0 0 0 / 20%)),
        url(/assets/images/login-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#contenedor {
    height: 100vh;
    position: relative;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}
