<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- sesiones -->
        <script src="assets/js/sesiones.js"></script>

        <!-- Bootstrap CSS -->
        <link
            href="assets/bootstrap-5.1.3/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <!-- bootstrao-icons -->
        <link
            rel="stylesheet"
            href="assets/icons-1.7.2/font/bootstrap-icons.css"
        />
        <link rel="stylesheet" href="assets/css/style.css" />
        <link rel="stylesheet" href="assets/css/.css" />

        <title></title>
    </head>
    <body>
        <main id="contenedor__general">
            <div id="contenedor__menu"><%- include('admin-menu'); %></div>

            <div id="contenedor__contenido">prestamo</div>
        </main>

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="assets/bootstrap-5.1.3/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/.js"></script>
    </body>
</html>
